.positionFixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; 
    background-color: #fff; 


    .navbar-nav {
        list-style-type: none;
        margin-top: 80px;

        .nav-item{
            width: 100%;
            .nav-link {
                display: inline-block;
                color: #3d3d3d;
                text-decoration: none;
                font-family: 'PoppinsMedium';
                font-size: 0.81rem;
                padding: 8px 5px 8px 10px;
                width: 100%;
                cursor: pointer;
                
                .wrapper-link{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .iconPata{
                        width: 30px;
                    }
                }
            }

            .active {
                background-color:#003459a8 ;
                color: white ;
                border-radius: 8px;
            }
            
            .nav-link:hover {
                color: #808a91;
            }
        }
    }
}



@keyframes animarborde {
    0% {
        border-bottom-color: transparent;
    }

    100% {
        border-bottom-color: #0aadee;
    }
}