<div class="container-xxl">
    <app-navbar-top></app-navbar-top>


    <div class="contenedor">

        <div class="contendor-info">
            <div class="parrafo">
                <p class="veterinariaL">Veterinaria  </p>
            <p class="juntosL">Juntos, <img src="../../../assets/icon/DashiconsPets.svg" alt=""  
                tyle="display: inline; vertical-align:    middle; width: 100px; height: auto;"> 
            </p>
    
            <p>Construyendo un futuro mas</p>
            <p>saludable y feliz para tus</p>
            <p>fieles amigos.</p>
             </div>
    
    
            <div class="imagen">
                <img src="../../../assets/img/VeterinariaAquavet.png" alt="">
            </div>
    
        </div>

        <div>
            <button class="botonServicio">Ver servicios</button>
        </div>

    </div>

</div>
