.container-xxl{
    padding-top: 10px;
    height: 100vh;

    .contenedor{
        display: flex;
    }

    .parrafo{
        color: #007EA7;
        font-size: 33px;
        font-family: "PoppinsRegular";
    }

    .imagen{
        margin-right: 20px; /* Ajusta el margen según sea necesario */
        width: 50%x; /* Ajusta el tamaño según sea necesario */
        height: left;
    }

    .botonServicio{
        background-color: #003459;
        color: aliceblue;
        font-size: 25px;
        padding: 5px 10px;
        border-radius: 5px;
    }
    .contenedor{
        width: 200vw;
        height: 100vh;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .veterinariaL{
        color: #007EA7;
        font-size: 20px;   
        font-family: "PoppinsBold";
    }
    .juntosL{
        font-size: 55px; 
        font-family: "PoppinsBold";
        color: #007EA7;
    }
}