<div class="positionFixed ">
    <nav class="wrapper container-xxl">

        <div class="wrapperLogo">
            <p routerLink="/" routerLinkActive="active">aquavet</p>
        </div>


        <div class="navbar-nav">
            <li class="wrapper-perfil">
                <div class="wrapper-img">
                    <img class="img" src="../../../../../assets/icon/Persona.svg" alt="">
                </div>

                <div class="wrapper-info">
                    <p class="name">Alex Pablo</p>
                    <p class="role">Administrador</p>
                </div>
            </li>

            <p class="nav-item" (click)="logout()">
                Cerrar Session
            </p>
        </div>
        
    </nav>
</div>
