<div class="container-xxl">
    
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Contacto</title>
    <link rel="stylesheet" href="contact.component.scss">
    <!--Icon-Font-->
    <script src="https://kit.fontawesome.com/eb496ab1a0.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container-form">
        <div class="info-form">
            <h2>Contáctanos</h2>
            <p>Nuestro equipo de atencion esta listo para darte el mejor servicio.</p>
            <a href="#"><i class="fa fa-phone"></i> +502 5138-9499</a>
            <a href="#"><i class="fa fa-map-marked"></i> 2da avenida 3-12 zona 1, Solola, Solola</a>
            
        </div>
       
    </div>
    
</body>
</html>




